.container
  h1.text-center
    b
      | ALL TASKS
  br
  table.table.table-hover
    thead
      tr
        th
          | Title
        th
          | Body
        th
          | Status
        th
    tbody
      - @tasks.each do |task|
        tr
          td
            = task.title
          td
            = task.body
          td
            = task.status
          td
            = link_to 'Show', task_path(task), class: "btn btn-info btn-sm"