= simple_form_for ([@task, @task.comments.build]) do |f|
  = f.input :body, label: 'Add Comment', placeholder: 'write your comment here'
  = f.hidden_field :author_type, value: User
  = f.submit 'Add Comment', class: "btn btn-primary"