- if controller_name != 'sessions'
  p
    = link_to "Log in", new_session_path(resource_name), class:"btn btn-primary"
    br
- if devise_mapping.registerable? && controller_name != 'registrations'
  p
    = link_to "Sign up", new_registration_path(resource_name), class:"btn btn-success"
    br
- if devise_mapping.confirmable? && controller_name != 'confirmations'
  p
    = link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name), class:"btn btn-info"
    br
- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  p
    = link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name), class:"btn btn-info"
    br
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    = link_to " Sign in with GITHUB", omniauth_authorize_path(resource_name, provider), class:"btn fa fa-github btn-primary btn-lg"
    br
