p#notice
  = notice
.container
  .well
    div
      h2
        kbd
          | Title:
        = @task.title
      h2
        kbd
          | Body:
        = @task.body
      h2
        kbd
          | Status:
        = @task.status
    div
      = link_to 'Back', dashboard_path, class: "btn btn-primary active"
      = link_to 'Edit', edit_task_path(@task), class: "btn btn-primary active"
  - @task.comments.each do |comment|
    p
      b
        | Author:
      = comment.author.email
      |  (
      = comment.author_type
      | )
    p
      b
        | Comment:
      = comment.body
    hr
  =render 'comments/new'