.container
  h1
    b
      | This is your toolbox 
      = current_admin.email
  .dashboard
    .btn-group.btn-group-justified[role="group"]
      .btn-group[role="group"]
        = link_to 'Tasks', admin_tasks_path, class: 'btn btn-success btn-lg'
      .btn-group[role="group"]
        = link_to 'Users', admin_users_path, class: 'btn btn-warning btn-lg'
      .btn-group[role="group"]
        = link_to 'Admins', admin_admins_path, class: 'btn btn-danger btn-lg'