p#notice
  = notice
.container
  table.table.table-hover
    thead
      tr
        th
          | Title
        th
          | Status
        th
          | User
        th
    tbody
      - @tasks.each do |task|
        tr
          td
            = task.title
          td
            = task.status
          td
            = task.user.email
          td
            = link_to 'Show', admin_task_path(task), class:"btn btn-info btn-sm"