.container
  .well
    p
      b
        | Title:
      = @task.title
    p
      b
        | Description:
      = @task.body
    p
      b
        | Status:
      = @task.status
    p
      b
        | User:
      = @task.user.email
  |  <div class="container", align="center"> 
  = link_to 'Mark as closed', admin_task_path(@task, task: { status: 'closed', admin_id: current_admin.id }), method: :put, class: 'btn btn-warning'
  = link_to 'Back', admin_tasks_path, class: 'btn btn-primary'
  = link_to 'Mark as opened', admin_task_path(@task, task: { status: 'opened', admin_id: current_admin.id }), method: :put, class: 'btn btn-success'
br
.container
  - @task.comments.each do |comment|
    .well
      p
        b
          | Author:
        = comment.author.email
        |  (
        = comment.author_type
        | ) 
      p
        b
          | Comment:
        = comment.body
      p
        b
          | Time:
        = comment.created_at
.container
  = simple_form_for ([:admin, @task, @task.comments.build]) do |f|
    = f.input :body, label: 'Add Comment', placeholder: 'write your comment here'
    = f.hidden_field :author_type, value: Admin
    = f.submit 'Add Comment', class: "btn btn-primary"