.container
  .well
    h1
      | My e-mail: 
      = current_user.email
    h2
      | Date of registration: 
      = current_user.created_at
    h2
      | Tasks created: 
      = current_user.tasks.count
    p.inline
      = link_to "Delete my profile", user_path(current_user), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
      = link_to "My Tasks", dashboard_path, class: "btn btn-info"
