.container
  = video_tag "laptop.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video"
  .text-block
    p
      small
        | TO . GET . THINGS . DONE . SMOOTHLY .
    p
    h1
      i.fa.fa-check-square-o[aria-hidden="true"]
      b
        | T A S K E R
    |