p#notice
  = notice
.container
  h1[align="center"]
    | Admins
  table.table.table-hover
    thead
      tr
        th
          | ID
        th
          | Email
        th
        th
    tbody
      - @admins.each do |admin|
        tr
          td
            = admin.id
          td
            = admin.email
          td
            = link_to 'Show', admin_admin_path(admin), class:"btn btn-info btn-sm"
          td
            = link_to 'Destroy', admin_admin_path(admin),class:"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }
  br
  .inline
    = link_to "New Admin", new_admin_admin_path, class:"btn btn-success"
    = link_to "Back", admin_dashboard_path, class:"btn btn-primary"