.container
  .well
    h1
      b
        | E-mail: 
      = @admin.email
    h2
      b
        | Date of registration: 
      = @admin.created_at
    h2
      b
        | Tasks: 
      = @admin.tasks.closed.count
  = link_to "Back", admin_admins_path, class:"btn btn-primary btn-lg"
  = link_to 'Destroy', admin_admin_path(@admin),class:"btn btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure?' }