p#notice
  = notice
.container
  h1[align="center"]
    | Users
  table.table.table-hover
    thead
      tr
        th
          | ID
        th
          | Email
        th
          | Tasks opened
        th
          | Tasks closed
        th
        th
    tbody
      - @users.each do |user|
        tr
          td
            = user.id
          td
            = user.email
          td
            = user.tasks.opened.count
          td
            = user.tasks.closed.count
          td
            = link_to 'Show', admin_user_path(user), class:"btn btn-info btn-sm"
          td
            = link_to 'Destroy', admin_user_path(user),class:"btn btn-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' }
  br
  |  <div class="inline", align="center"> 
  = link_to "New User", new_admin_user_path, class:"btn btn-success"
  = link_to "Back", admin_dashboard_path, class:"btn btn-primary"