.container
  .well
    h1
      b
        | E-mail: 
      = @user.email
    h2
      b
        | Date of registration: 
      = @user.created_at
    h2
      b
        | Tasks created: 
      = @user.tasks.count
  = link_to "Back", admin_users_path, class:"btn btn-primary btn-lg"
  = link_to 'Destroy', admin_user_path(@user),class:"btn btn-danger btn-lg", method: :delete, data: { confirm: 'Are you sure?' }