nav.navbar.navbar-inverse
  .container
    .navbar-header
      b= link_to "T A S K E R", root_path, class: "navbar-brand"
    ul.nav.navbar-nav
      li= link_to "Sign Up", new_user_registration_path
      - if user_signed_in?
        li= link_to "Sign Out", destroy_user_session_path, method: :delete
        li.dropdown
          a.dropdown-toggle aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" role="button" 
            | My Tools
            span.caret
          ul.dropdown-menu.pull-right
            li= link_to "Dashboard", dashboard_path
            li.divider role="separator" 
            li= link_to "New Task", new_task_path
            li.divider role="separator" 
            li= link_to "Profile", user_path(current_user)
      - elsif admin_signed_in?
        li= link_to "Dashboard", admin_dashboard_path
        li= link_to "Sign out", destroy_user_session_path, :method => :delete
      - else
        li= link_to "Log In", new_user_session_path